<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ContentsGroupMapper
-->
<mapper namespace="com.mugenunagi.amalbum.datamodel.dao.ContentsGroupMapper">
	<!-- ContentsGroupを検索する -->
	<select id="selectContentsGroupByParentID" parameterType="contentsGroupEntity" resultType="contentsGroupEntity">
		select * from contentsGroup where parentID = #{parentID}
	</select>
</mapper>
