<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ContentsGroupMapper
-->
<mapper namespace="com.mugenunagi.amalbum.datastructure.dao.ContentsGroupMapper">
	<!--  ContentsGroupConditionを指定して検索する -->
	<select id="selectContentsGroupByCondition" parameterType="ContentsGroupCondition" resultType="contentsGroupEntity">
		select * from contentsGroup where
			    DeleteDate is null
			<if test="parentID != null">
				and parentID = #{parentID}
			</if>
			<if test="contentsGroupID != null">
				and contentsGroupID = #{contentsGroupID}
			</if>
			order by SeqNo desc
			<if test="limit != null">
				limit #{limit}
			</if>
			<if test="offset != null">
				offset #{offset}
			</if>
	</select>
	
	<!-- ContentsGroupを、親IDで検索する -->
	<select id="selectContentsGroupByParentID" parameterType="int" resultType="contentsGroupEntity">
		select * from ContentsGroup where parentID = #{parentID} and (DeleteDate is null) order by SeqNo
	</select>
	
	<!-- ContentsGroupをIDで検索する -->
	<select id="selectContentsGroupByContentsGroupID" parameterType="int" resultType="contentsGroupEntity">
		select * from ContentsGroup where ContentsGroupID = #{contentsGroupID} and (DeleteDate is null)
	</select>
	
	<!-- ContentsGroupの数を取得する -->
	<select id="getContentsGroupCountByParentID" parameterType="int" resultType="int">
		select count(*) from ContentsGroup where ParentID=#{parentID}
	</select>
	
	<!--  ContentsGroupIDを、名称から検索する -->
	<select id="getContentsGroupID" parameterType="contentsGroupEntity" resultType="Integer">
		select contentsGroupID from contentsGroup where parentID=#{parentID} and name=#{name} and (DeleteDate is null)
	</select>

	<!-- ContentsGroupIDを発番する -->
	<select id="getNextContentsGroupID" resultType="int">
		select nextval('ContentsGroupIDSequence')
	</select>
	
	<!-- ContentsIDを発番する -->
	<select id="getNextContentsID" resultType="int">
		select nextval('ContentsIDSequence')
	</select>
	
	<!-- MaterialIDを発番する -->
	<select id="getNextMaterialID" resultType="int">
		select nextval('MaterialIDSequence')
	</select>

	<!-- ContentsGroupを作成する -->
	<insert id="insertContentsGroup" parameterType="contentsGroupEntity">
		insert into ContentsGroup
			(ContentsGroupID, ParentID, Name, Brief, Description, SeqNo, DeleteDate, UpdateDate, CreateDate )
			values
			(
				  #{contentsGroupID}
				, #{parentID}
				, #{name}
				, #{brief}
				, #{description}
				, #{seqNo}
				, null
				, #{updateDate}
				, #{createDate}
			)
	</insert>
	
	<!-- 次のSeqNoを発番する -->
	<select id="getNextSeqNo" parameterType="int" resultType="Integer">
		select max(SeqNo)+1 from ContentsGroup where parentID=#{parentID}
	</select>

	<!-- ContentsGroupを更新する -->
	<update id="updateContentsGroup" parameterType="contentsGroupEntity">
		update ContentsGroup
			set
				  ParentID=#{parentID}
				, Name=#{name}
				, Brief=#{brief}
				, Description=#{description}
				, SeqNo=#{seqNo}
				, DeleteDate=#{deleteDate}
				, UpdateDate=#{updateDate}
				, CreateDate=#{createDate}
			where
				ContentsGroupID=#{contentsGroupID}
				and DeleteDate is null
	</update>
	
	<!-- ContentsGroupを論理削除する -->
	<update id="logicalDeleteContentsGroup" parameterType="contentsGroupEntity">
		update ContentsGroup
			set DeleteDate=#{deleteDate}
			where ContentsGroupID=#{contentsGroupID}
	</update>
	
	<!-- ContentsGroupを物理削除する -->
	<delete id="deleteContentsGroup" parameterType="int">
		delete from ContentsGroup where ContentsGroupID=#{contentsGroupID}
	</delete>
</mapper>
