<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    ContentsMapper
-->
<mapper namespace="com.mugenunagi.amalbum.datastructure.dao.ContentsMapper">
	<!-- Contentsを検索する -->
	<select id="selectContentsByContentsGroupID" parameterType="int" resultType="contentsEntity">
		select * from contents where contentsGroupID = #{contentsGroupID} and DeleteDate is null
	</select>

	<!-- 指定IDのContentsを取得する-->
	<select id="getContentsByContentsID" parameterType="contentsEntity" resultType="contentsEntity">
		select * from contents where contentsID = #{contentsID} and DeleteDate is null
	</select>
	
	<!-- コンテンツIDを発行する -->
	<select id="getNextContentsID" resultType="Integer">
		select nextval("contentsidsequence");
	</select>
	
	<!-- コンテンツを追加する -->
	<select id="insertContents" parameterType="contentsEntity">
		insert into contents (
			  ContentsID
			, ContentsGroupID
			, Name
			, Brief
			, Description
			, BaseDir
			, SeqNo
			, DeleteDate
			, UpdateDate
			, CreateDate
			) values (
			  #{contentsID}
			, #{contentsGroupID}
			, #{name}
			, #{brief}
			, #{description}
			, #{baseDir}
			, #{seqNo}
			, #{deleteDate}
			, #{updateDate}
			, #{createDate}
			);
	</select>
</mapper>
