<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    MaterialMapper
-->
<mapper namespace="com.mugenunagi.amalbum.datastructure.dao.MaterialMapper">
	<!-- ContentsIDを指定して、それに属する素材を検索する -->
	<select id="selectMaterialByContentsID" parameterType="int" resultType="materialEntity">
		select * from material where ContentsID = #{contentsID} and DeleteDate is null
	</select>

	<!-- 指定IDのMaterialを取得する-->
	<select id="getMaterialByMaterialID" parameterType="materialEntity" resultType="materialEntity">
		select * from material where materialID = #{materialID} and DeleteDate is null
	</select>
	
	<!-- MaterialIDを発行する -->
	<select id="getNextMaterialID" resultType="Integer">
		select nextval("materialidsequence");
	</select>
	
	<!-- Materialを新規に作成する -->
	<insert id="insertMaterial" parameterType="materialEntity">
		insert into Material(
			  MaterialID
			, ContentsID
			, MaterialType
			, Path
			, Status
			, Brief
			, Description
			, SeqNo
			, DeleteDate
			, UpdateDate
			, CreateDate
			) values (
			  #{materialID}
			, #{contentsID}
			, #{materialType}
			, #{path}
			, #{status}
			, #{brief}
			, #{description}
			, #{seqNo}
			, #{deleteDate}
			, #{updateDate}
			, #{createDate}
			);
	</insert>
	
	<!-- Materialを新規に作成する -->
	<update id="updateMaterial" parameterType="materialEntity">
		update Material set
			  ContentsID = #{contentsID}
			, MaterialType = #{materialType}
			, Path = #{path}
			, Status = #{status}
			, Brief = #{brief}
			, Description = #{description}
			, SeqNo = #{seqNo}
			, DeleteDate = #{deleteDate}
			, UpdateDate = #{updateDate}
			, CreateDate = #{createDate}
			where MaterialID = #{materialID};
	</update>
	
	<!-- Materialを物理削除する -->
	<delete id="deleteMaterial" parameterType="int" >
		delete from material where MaterialID=#{materialID};
	</delete>
</mapper>
