<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    MaterialMapper
-->
<mapper namespace="com.mugenunagi.amalbum.datastructure.dao.MaterialMapper">
	<!-- ContentsIDを指定して、それに属する素材を検索する -->
	<select id="selectMaterialByContentsID" parameterType="int" resultType="materialEntity">
		select * from material where ContentsID = #{contentsID} and DeleteDate is null
	</select>

	<!-- 指定IDのMaterialを取得する-->
	<select id="getMaterialByMaterialID" parameterType="materialEntity" resultType="materialEntity">
		select * from material where materialID = #{materialID} and DeleteDate is null
	</select>
</mapper>
